<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196735070270-0reli0frvpvcj3q9iravg9t12e0i9d7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196735070270-0reli0frvpvcj3q9iravg9t12e0i9d7d</string>
	<key>API_KEY</key>
	<string>AIzaSyByEnxLFCnqph6u_WYF7kYKo5rI1k0KH7w</string>
	<key>GCM_SENDER_ID</key>
	<string>196735070270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harsh082ip.tiktokclone.tiktokClone</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-49afd</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-49afd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196735070270:ios:c4e3bbcc1f1fd0b763216f</string>
</dict>
</plist>